@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

// Общие стили
$white-color: #fff;
$reflection-opacity: 0.135;

.banner {
  top: 60px;
  height: 100vh;
  position: relative;
  font-family: "Bebas Neue", serif;
  color: $white-color;
  text-align: center;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  padding: 3rem 1rem;


  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
  }
  .backgr-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(20%);
  }

  .text-cont {
    position: relative;
    z-index: 1;
    height: 200px;
     
    h1 {
      padding-top: 110px;
      line-height: 40px; 
      font-size: 50px; // Базовый размер для мобильных
      @media (min-width: 768px) and (max-width: 1199px) { // Для планшетов
        font-size: 100px;
        line-height: 80px; 
      }
  
      @media (min-width: 1200px) { // Для ПК
        font-size: 100px;
        line-height: 80px; 
        
      }



      &::after {
        content: attr(data-reflection);
        position: absolute;
        bottom: -70px; // Базовое значение для мобильных
        left: 0;
        width: 100%;

        color: rgba($white-color, $reflection-opacity);
        transform: scaleY(-1);
        filter: blur(5px);
        transform-origin: top;
    
        @media (min-width: 768px) and (max-width: 1199px) { // Для планшетов
          bottom: -130px;
          
        }
    
        @media (min-width: 1200px) { // Для ПК
          bottom: -140px;
        }

      }
    }
    

    p {
      font-size: 18px; // Базовый размер для мобильных
      font-family: "Oswald", serif;
      text-transform: uppercase;
      @media (min-width: 768px) and (max-width: 1199px) { // Для планшетов
        font-size: 22px;
      }

      @media (min-width: 1200px) { // Для ПК
        font-size: 24px;
      }
    }

    h2 {
      display: flex;
      margin-top: 75%;  
      justify-content: center;
      text-align: center;
      font-family: "Oswald", serif;
      text-transform: uppercase;
      font-size: 13px;
      

      @media (min-width: 430px) {
        font-size: 15px;
        margin-top: 90%;
      }

      @media (min-width: 768px) and (max-width: 1199px) {
        font-size: 15px;
        margin-top: 25%;
      }

      @media (min-width: 1200px) {
        font-size: 15px;
        margin-top: 20%;
      }

     
    }
    
  }

  

  .cars-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    z-index: 1;

    img {
      width: auto;
      max-width: 60px;
      object-fit: contain;

      @media (min-width: 768px) {
        max-width: 130px;
      }

      @media (min-width: 1200px) {
        max-width: 200px;
      }
    }
  }

  @media (min-width: 1200px) {
    h1 {
      font-size: 100px;
     
    }
     
  }
}

// Анимация кнопки
@keyframes app-store-glow {
  0%, 100% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
}