.video-container {
    position: relative;
    height: 100vh; // Высота для прокрутки
    width: 100%;
    overflow: hidden;
  
    .background-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    .overlay {
      position: relative; // Блок для анимации
      width: 100%;
      height: 100vh; // Полный экран
      display: flex;
      justify-content: center;
      align-items: center;
  
      .text {
        position: sticky; // Текст фиксируется в центре экрана
        top: 50%; // Центрируем текст вертикально
        transform: translateY(-50%); // Точная центровка
        font-size: 3vw; // Адаптивный размер текста
        font-weight: bold;
        color: transparent;
        -webkit-text-stroke: 2px white;
        letter-spacing: 0.1em;
        transform-origin: center center;
        opacity: 0; // Начальная прозрачность
      }
      @media (max-width: 768px) {
        .text {
          font-size: 6vw; // Адаптивный размер текста
        }
      }
    }
  }